<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="gitlab" value="https://gitlab.com/api/v4/projects/27687525/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="KeisyNKK" />
            <add key="ClearTextPassword" value="sWm9awdD5yBKxU7wqxJY" />
        </gitlab>
    </packageSourceCredentials>
</configuration>